body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 600px) {
    #map {
      height: 300px;
    }
    #question-container {
      max-width: 90%; 
    }
  }
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#map {
  height: 30vh;
  width: 100%;
  margin-bottom: 20px;
}

#question-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
  margin-left: 10px;
}

#total-points {
  font-weight: bold;
}

#distance,
#direction,
#name {
  margin-bottom: 10px;
}

#info {
  font-size: 24px;
}
h1 {
  font-size: 24px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type="radio"] {
  margin-top: 10px;
}

label {
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.popup-content {
  max-width: 200px;
}

.popup-content img {
  max-width: 100%;
}

.popup-content p {
  margin: 0;
  padding: 5px;
}
